<footer class="footer">
        Other platforms from members of the alveole: 
        <a href="https://www.tiktok.com/@desballesquipleuvent" target="_blank">c0lette &gt;,..,&lt;</a>
        , <a href="https://www.instagram.com/cso_wo2m/" target="_blank">5`/573m=(UwU (()()))</a>
        , <a href="https://www.youtube.com/@3vasily" target="_blank">3vasily</a>
        <br><a href="https://cyber.dabamos.de/88x31/" target="_blank">
            <img src="https://cyber.dabamos.de/88x31/88by31.gif" alt="ah" height="31" width="88">
        </a>
        <img src="https://cyber.dabamos.de/88x31/acab.gif" class alt="ah" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/animegay.gif" alt="ah" height="31" width="88">
        
        <img src="https://cyber.dabamos.de/88x31/ah.gif" alt="ah" height="31" width="88">
        
        <a href="https://3imaginaryboys3.github.io/" target="_blank"><img src="https://cyber.dabamos.de/88x31/ecchi.gif" alt="ah" height="31" width="88"></a>
        
        <!--<img src="https://cyber.dabamos.de/88x31/legalize_now.gif" alt="ah" height="31" width="88">-->
        
        <a href="https://maia.crimew.gay/" target="_blank">
            <img src=" https://maia.crimew.gay/badges/maia.crimew.gay.png" alt="ah" height="31" width="88">
        </a>
        <br>lets all love hum &lt;3&gt
</footer>
