<header class="entete">
    <!--<li style="list-style: none;" class="menu">
        [
                <a href="index.html">Home</a>
                /
                <a href="blog.html">Blog</a>
                /
                <a href="citations.html">q</a>
                /
                <a href="samples.html">Samples</a> 
                ]
            </li>-->
    <a href="/" >
        <h1 class="title">{{ site.title }}</h1>
    </a>
    <!--<img src="/assets/img/enjolivure1.png" alt="enjolivure" class="enjolivure">-->
    <!--<div class="deco">    
        <img src="/assets/img/lain-iwakura.gif" style="display: block; position: absolute; top:250px; left:210px;">
        <img src="/assets/img/img1.jpg" style="border: 1px white; width: 200px; position: absolute; top:10px; left:75px;">
        <img src="/assets/img/img2.jpg" style="border: 1px white; width: 150px; position: absolute; top:205px; left:75px;">
    -->
    </header>